<html>
	<head>
		<title>{{pageTitle}}</title>
	</head>
	<body>
		<h1>
		{{toUpperCase pageTitle}} 
		<!-- the second variable is the argumnet passed to the helper function  -->
		</h1>
	
		{{> footer}} 
	</body>

</html>